//
// named.conf
//
// Provided by Red Hat bind package to configure the ISC BIND named(8) DNS
// server as a caching only nameserver (as a localhost DNS resolver only).
//
// See /usr/share/doc/bind*/sample/ for example named configuration files.
//

options {
        listen-on port 53 { any; };
        filter-aaaa-on-v4 yes;
        directory       "/var/named";
        dump-file       "/var/named/data/cache_dump.db";
        statistics-file "/var/named/data/named_stats.txt";
        memstatistics-file "/var/named/data/named_mem_stats.txt";
        secroots-file   "/var/named/data/named.secroots";
        recursing-file  "/var/named/data/named.recursing";
        allow-transfer {
{#
                {{ ip_ns1 }};
                {{ ip_ns2 }};
#}
{{              ip_reverse_zone_file_prefix + "." + zone_records["ns1"].hostip}};
{{              ip_reverse_zone_file_prefix + "." + zone_records["ns2"].hostip}};
        };

        allow-query {
                any;
        };

        /*
         - If you are building an AUTHORITATIVE DNS server, do NOT enable recursion.
         - If you are building a RECURSIVE (caching) DNS server, you need to enable
           recursion.
         - If your recursive DNS server has a public IP address, you MUST enable access
           control to limit queries to your legitimate users. Failing to do so will
           cause your server to become part of large scale DNS amplification
           attacks. Implementing BCP38 within your network would greatly
           reduce such attack surface
        */
        recursion no;

        dnssec-enable no;
        dnssec-validation no;

        # Permit dynamic update of Zone records via nsupdate when running locally
        allow-update {localhost;};

        # Default is to not log queries unless 'rndc querylog on' is used
        querylog no;

        managed-keys-directory "/var/named/dynamic";

        pid-file "/run/named/named.pid";
        session-keyfile "/run/named/session.key";

        /* https://fedoraproject.org/wiki/Changes/CryptoPolicy */
        include "/etc/crypto-policies/back-ends/bind.config";
};

include "/etc/named.rfc1912.zones";
include "/etc/named.root.key";

zone "." IN {
        type hint;
        file "named.ca";
};

zone "{{ ip_reverse }}.IN-ADDR.ARPA." IN {
        type {{ type }};
        file "{{ type }}/{{ ip_reverse_zone_file_prefix }}.db";
        masterfile-format text;
        {% if type == 'slave' %}
            masters {
                {{ ip_reverse_zone_file_prefix + "." + zone_records["ns1"].hostip}} port 53;
            };
        {% elif type == 'master' %}
            also-notify {
               {{ ip_reverse_zone_file_prefix + "." + zone_records["ns2"].hostip}} port 53;
            };
        {% endif %}
};

zone "{{ domain }}." IN {
        type {{ type }};
        file "{{ type }}/{{ domain }}.db";
        masterfile-format text;
        {% if type == 'slave' %}
            masters {
                {{ ip_reverse_zone_file_prefix + "." + zone_records["ns1"].hostip}} port 53;
            };
        {% elif type == 'master' %}
            also-notify {
               {{ ip_reverse_zone_file_prefix + "." + zone_records["ns2"].hostip}} port 53;
            };
        {% endif %}
};

include "/etc/rndc.key";
controls {
      inet 127.0.0.1 port 953
              allow {
                127.0.0.1;
              }
              keys {
                "rndc-key";
              };
};

# Refer to following for additional logging channels
# https://kb.isc.org/docs/aa-01526
logging {
     channel default_log {
          file "/var/named/log/default" versions 3 size 20m;
          print-time yes;
          print-category yes;
          print-severity yes;
          severity info;
     };
     channel zone_transfers_log {
          file "/var/named/log/zone_transfers" versions 3 size 20m;
          print-time yes;
          print-category yes;
          print-severity yes;
          severity info;
     };
     channel ddns_log {
          file "/var/named/log/ddns" versions 3 size 20m;
          print-time yes;
          print-category yes;
          print-severity yes;
          severity info;
     };
     channel queries_log {
          file "/var/named/log/queries" versions 600 size 20m;
          print-time yes;
          print-category yes;
          print-severity yes;
          severity info;
     };
     category notify { zone_transfers_log; default_debug; };
     category xfer-in { zone_transfers_log; default_debug; };
     category xfer-out { zone_transfers_log; default_debug; };
     category update{ ddns_log; default_debug; };
     category update-security { ddns_log; default_debug; };
     category queries { queries_log; };
     category query-errors { queries_log; };
};